.nav .header_fa {
    font-size: 1em;
    margin-right: 0.5em;
}

.navbar-default .navbar-nav>li>a:focus {
    outline: none;
}

img {
    height: 40px;
    width: 40px;
    position: absolute;
    right: 50px;
    top: 5px;
}

